__pycache__/config_dream.cpython-38.pyc
.ipynb_checkpoints/YT-Analysis-project-checkpoint.ipynb
__pycache__/config_127.cpython-38.pyc
.ipynb_checkpoints/view_prediction_modeling-checkpoint.ipynb
nct_dream_channel.json

~$nct_dream.xlsx
